doctype html
html
	head
		title Weekly
		link(rel='stylesheet', href='/css/style.css')
		script(src="/libs/jquery-3.2.1.min.js")
		block meta
	body
		nav
			.w-1200
				a(href="/") home
				a(href="") renwu
				a(href="") jingxuan
				- if(uname)
					a#users(href="/users/#{uname}") #{uname}
				- else
					a(href="/login") login
		block content
