doctype html
html
	head
		title Weekly
		link(rel='stylesheet', href='/styles/style.css')
		block meta
	body
		nav
			.w-1200
				a(href="") home
				a(href="") renwu
				a(href="") jingxuan
				a(href="/login") login
		block content
