html,body {
  padding: 0;
  margin: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  cursor: pointer;
}
.w-1200{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
