extends ../layout
block meta
	link(rel='stylesheet', href='/css/index.css')
block content
	.w-1200
		- if(uname)
			p welcome: #{uname}
			a(href='/task') 创建任务
		ul.unstyle
			each task in tasks
				li
					a(href='/task/'+task._id) #{task.title}
					span #{task.creatime}
				
				

	