extends ../layout
block meta
	link(rel='stylesheet', href='/css/login.css')
block content
	.w-1200
		#msg.msg
		form#form.form
			.label
				span 用户名
				input(type='text',name='uname',max-length='20')
			.label
				span 密码
				input(type='password',name='upwd',min-length='6')
			.label
				a#signin(href="javascript:void(0)") 注册
				input#submit(type='button',value='提交')
	script(src="/js/user-login.js")