extends ../layout
block content
	.w-1200
		h1= title
		.msg
			span 发布者：#{creator}
			span= creatime
		.content= content
		#operat.operat
			- if(iftake)
				a(data-type="abandon") 放弃任务
			- else
				a(data-type="take") 接受任务
			- if(uname == creator)
				a(data-type="assign") 分配任务
	script(src="/js/task-content.js")